.header {
    grid-area: hd;
    background-color: #1976d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerItem {
    color: white;
    margin: 0 10px 0 10px;
}

.icon {
    cursor: pointer;
}